apiVersion: net.futhwo.io/v1alpha1
kind: ExternalBalancer
metadata:
  name: provaui
  namespace: default
spec:
  strategy: SingleService
  ingressRouteLabels:
    traefik.io/ingress-controller: edge-b
  host: extlb-weighted.futhwo.it
  entryPoints: ["websecure"]
  tls:
    # Use an existing secret (easy mode):
    secretName: wildcard-futhwo-it
    # Or let cert-manager manage it:
    # certManager:
    #   secretName: provaui-tls
    #   issuerRef:
    #     name: letsencrypt-prod
    #     kind: ClusterIssuer
    #     group: cert-manager.io
    #   duration: 2160h
    #   renewBefore: 360h
  useEndpointSlice: true

  middlewares:
    - name: forward-auth
      namespace: traefik
    - name: secure-headers

  backends:
    - name: b1
      address: 10.11.12.15
      port: 9080
    - name: b2
      address: 10.11.12.16
      port: 9080
