apiVersion: net.futhwo.io/v1alpha1
kind: ExternalBalancer
metadata:
  name: provaui
  namespace: default
spec:
  strategy: SingleService
  ingressRouteLabels:
    traefik.io/ingress-controller: edge-b
  host: radius-traefik.cdlan.net
  entryPoints: ["websecure"]
  tlsSecretName: wildcard-cdlan-net
  useEndpointSlice: true
  backends:
    - name: b1
      address: 10.129.33.191
      port: 9080
      h2c: true
    - name: b2
      address: 10.129.33.192
      port: 9080
      h2c: true
