name: Release Helm Chart

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.15.2

      - name: Package chart
        run: |
          mkdir -p charts
          helm package charts/externalbalancer-operator --destination charts

      - name: Update index.yaml
        run: |
          helm repo index charts --url https://futhwo.github.io/externalbalancer

      - name: Commit and push chart index
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add charts
          git commit -m "update helm chart index [skip ci]" || echo "No changes"
          git push
